[submodule "CraneSched"]
	path = CraneSched
	url = https://github.com/PKUHPC/CraneSched.git
[submodule "CraneSched-FrontEnd"]
	path = CraneSched-FrontEnd
	url = https://github.com/PKUHPC/CraneSched-FrontEnd.git
